<div class="footer">
    <div class="footer-padding">
        <div class="footer-title">
            AUSTE
        </div>
        <div class="footer-grid">
            <div class="footer-column-signup">
            <span>Signup for newsletter</span>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <button>Submit</button>
            </div>
            <div class="footer-column">
            <span class="title">
                Location
            </span>
            <span class="content">
                Next to Globin show toom,<br>
                youvel street, xyz building,<br>
                Chicago89
            </span>
            </div>
            <div class="footer-column">
            <span class="title">
                Find Us
            </span>
            <span class="content"> Facebook</span>
            <span class="content">Instagram</span>
            <span class="content"> Twiter</span>
            <span class="content"> Whatsapp</span>
            <span class="content"> Tumblr</span>
            </div>
            <div class="footer-column-details">
            <span>
                Address 506, yovel road,<br>
                clene
            </span>
            <span>
                000-0000-000
            </span>
            <span>
                Shop@Auste.com
            </span>
            <span>
                @2023 AUSTE
            </span>
            </div>
        
        </div>
    </div>
</div>