<div class="about-us-wrapper">
    <div class="about-us-title">
        About Us
    </div>
    <div class="container-content">
        <div class="mission-content">
            <div class="mission-content-img-1">
                <img src="../assets/dining-sets/dining-sets-3.jpg" >
            </div>
            <div class="mission-content-img-2">
                <img src="../assets/dining-sets/dining-sets-3.jpg" >
            </div>
            <div class="mission-content-text">
                <span>
                    Our mission is to provide<br>
                    unique sets of products that<br>
                    facinate and inspire the<br>
                    user
                </span>
            </div>
        </div>
        <div class="history-content">
            <div class="history-content-text">
                <span>
                    In 2023, AUSTE expanded into<br>
                    an online shop curating a<br>
                    collection of carefully selected<br>
                    products & brands.
                </span>
            </div>
            <div class="history-content-grid">

                <div class="history-content-grid-img">
                    <img src="../assets/dining-sets/dining-sets-3.jpg" >
                </div>
                <div class="history-content-grid-text">
                    <span>
                        We are a functional interior
                        decor brand which curates
                        a selection of objects
                        focused on quality &
                        minimalism
                    </span>
                </div>
            </div>

        </div>


    </div>

</div>
