
<div class="brands-wrapper">

    <div class="brands-title">Brands</div>

    <div class="brands-cards">

        <div class="card">

            <span class="card-title">
                Menu
            </span>
            
            <span class="card-description">
                MENU has always been fascinated by the way in wich<br>
                individuals ands spaces can be united through shaped by<br>
                purposeful details, high-quality materials and human needs, we<br>
                creat strong and lasting relations betwenen designers,<br>
                manufacturers and customers.
            </span>

            <div class="card-column-button">
                <span class="card-button"> View Collections</span>
            </div>
          

        </div>

        <div class="card-image">
            <div class="image-div"></div>
            <img src="../assets/brands/brands-1.jpg" alt="">
        </div>

        <div class="card-image">
            <div class="image-div"></div>
            <img src="../assets/brands/brands-1.jpg" alt="">
        </div>

        <div class="card">

            <span class="card-title">
                Menu
            </span>
            
            <span class="card-description">
                MENU has always been fascinated by the way in wich<br>
                individuals ands spaces can be united through shaped by<br>
                purposeful details, high-quality materials and human needs, we<br>
                creat strong and lasting relations betwenen designers,<br>
                manufacturers and customers.
            </span>

            <div class="card-column-button">
                <span class="card-button"> View Collections</span>
            </div>
          

        </div>

        <div class="card">

            <span class="card-title">
                Menu
            </span>
            
            <span class="card-description">
                MENU has always been fascinated by the way in wich<br>
                individuals ands spaces can be united through shaped by<br>
                purposeful details, high-quality materials and human needs, we<br>
                creat strong and lasting relations betwenen designers,<br>
                manufacturers and customers.
            </span>

            <div class="card-column-button">
                <span class="card-button"> View Collections</span>
            </div>
          

        </div>

        <div class="card-image">
            <div class="image-div"></div>
            <img src="../assets/brands/brands-1.jpg" alt="">
        </div>
      
    </div>

</div>