
<div class="sub-categories">
    <div class="sub-categories-title">Lighting</div>
    <div class="wrapper-right">
        <div class="wrapper-title">Chandeliers</div>
        <div class="wrapper-cards">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Luna 8-Linear Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Mojave Dimmable Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="go-to-collections">
                <a routerLink="../sub-categorie-collections" class="go-to-collections-span">see collections</a>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
                <div class="go-to-collections-circle"></div>
            </div>


        </div>
        
    </div>
    <div class="wrapper-left">
        <div class="wrapper-title">Wall Sconces</div>
        <div class="wrapper-cards">
            <div class="go-to-collections">
                
                <div class="go-to-collections-circle"></div>
                <div class="hover-animation">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
                <a routerLink="../sub-categorie-collections" class="go-to-collections-span">see collections</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Luna 8-Linear Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Mojave Dimmable Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
           


        </div>
        
    </div>
    <div class="wrapper-right">
        <div class="wrapper-title">Table Lamps</div>
        <div class="wrapper-cards">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Luna 8-Linear Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Mojave Dimmable Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="go-to-collections">
                <a routerLink="../sub-categorie-collections" class="go-to-collections-span">see collections</a>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
                <div class="go-to-collections-circle"></div>
            </div>


        </div>
        
    </div>
    <div class="wrapper-left">
        <div class="wrapper-title">Pendant Lights</div>
        <div class="wrapper-cards">
            <div class="go-to-collections">
                
                <div class="go-to-collections-circle"></div>
                <div class="hover-animation">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
                <a routerLink="../sub-categorie-collections" class="go-to-collections-span">see collections</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Luna 8-Linear Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Mojave Dimmable Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
           


        </div>
        
    </div>
    <div class="wrapper-right">
        <div class="wrapper-title">Spot Lights</div>
        <div class="wrapper-cards">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Luna 8-Linear Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Mojave Dimmable Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="go-to-collections">
                <a routerLink="../sub-categorie-collections" class="go-to-collections-span">see collections</a>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
                <div class="go-to-collections-circle"></div>
            </div>


        </div>
        
    </div>
    <div class="wrapper-left">
        <div class="wrapper-title">Cabinet Lights</div>
        <div class="wrapper-cards">
            <div class="go-to-collections">
                
                <div class="go-to-collections-circle"></div>
                <div class="hover-animation">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
                <a routerLink="../sub-categorie-collections" class="go-to-collections-span">see collections</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Luna 8-Linear Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/lighting/chandelier-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title">Mojave Dimmable Chandelier</span>
                    <div class="card-rating">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span> 
                    </div>
                    <span class="card-price">R$ 13.999</span>
                </div>
            </div>
           


        </div>
        
    </div>
</div>