<div class="categories-wrapper">
    <div class="page-status">
        <span class="page-status-home">Home</span>/
        <span class="page-status-categories">Categories</span>/
        <span class="page-status-lighting">Lighting</span>
    </div>
    <div class="wrapper-title">Categories</div>
    <div class="categories-grid">

        <div class="column-lighting">
            <span>Lighting</span>
            <img src="../assets/lighting/lighting-3.jpg" >
        </div>
        <div class="column-chairs">
            <span>Chairs</span>
            <img src="../assets/chairs/chair-2.jpg" >
        </div>
        <div class="column-dining-sets">
            <span>Dining Sets</span>
            <img src="../assets/dining-sets/dining-sets-2.jpg" >
        </div>
    </div>

    <div class="categories-grid-2">
        <div class="column-storage">
            <span>Storage</span>
            <img src="../assets/storage/storage-1.jpg" >
        </div>


        <div class="column-wall-art">
            <span>Wall Art</span>
            <img src="../assets/wall-art/wall-arts-2.jpg" >
        </div>

    </div>
</div>
<app-sub-categories></app-sub-categories>