<div class="wrapper">

 <div class="wrapper-header">
        <div class="page-status">
                <span class="status-home status">Home</span>/
                <span class="status-categories status">Categories</span>/
                <span class="status-sub-categories status">Lighting</span>/
                <span class="status-sub-categories-name status">Chandeliers</span>
        </div>
        <div class="page-filter">
                <div class="page-filter-sort" >
                        <span>Sort By:</span>
                        <div  class="custom-mat-form-field">
                                <mat-form-field appearance="fill" >
                                        <mat-label>Low - High</mat-label>
                                        <mat-select disableRipple >
                                        <mat-option value="1">Low</mat-option>
                                        <mat-option value="2">High</mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
               <div class="page-filter-filter">
                        <span>Filter By:</span>
                        <div  class="custom-mat-form-field">
                                <mat-form-field appearance="fill" >
                                        <mat-select disableRipple [(ngModel)]="selectedValue">
                                        <mat-option value="1" >Latest</mat-option>
                                        <mat-option value="2">Recent</mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
               </div>
        </div>

        
 </div>

 <div class="wrapper-cards">
        <div class="row-2-cards">
                <div class="card" (click)="goToProductPage()">
                        <div class="card-image">
                                <img src="../assets/lighting/chandelier-1.jpg" alt="">
                            </div>
                            <div class="card-content-wrapper">
                               
                                <div class="card-content">
                                        <span class="card-title">Luna 8-Linear Chandelier</span>
                                        <div class="card-rating">
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span> 
                                        </div>
                                        <span class="card-price">R$ 13.999</span>
                                </div>

                                <div class="button-add">
                                        <button>Add +</button>
                                </div>
                            </div>
                        
                </div>
                <div class="card" (click)="goToProductPage()">
                        <div class="card-image">
                                <img src="../assets/lighting/chandelier-1.jpg" alt="">
                            </div>
                            <div class="card-content-wrapper">
                               
                                <div class="card-content">
                                        <span class="card-title">Luna 8-Linear Chandelier</span>
                                        <div class="card-rating">
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span> 
                                        </div>
                                        <span class="card-price">R$ 13.999</span>
                                </div>

                                <div class="button-add">
                                        <button>Add +</button>
                                </div>
                            </div>
                        
                </div>
        </div>
        <div class="row-1-card">
                <div class="card" (click)="goToProductPage()">
                        <div class="card-image">
                                <img src="../assets/lighting/chandelier-1.jpg" alt="">
                            </div>
                            <div class="card-content-wrapper">
                               
                                <div class="card-content">
                                        <span class="card-title">Luna 8-Linear Chandelier</span>
                                        <div class="card-rating">
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span> 
                                        </div>
                                        <span class="card-price">R$ 13.999</span>
                                </div>

                                <div class="button-add">
                                        <button>Add +</button>
                                </div>
                            </div>
                        
                </div>
        </div>
        <div class="row-2-cards">
                <div class="card" (click)="goToProductPage()">
                        <div class="card-image">
                                <img src="../assets/lighting/chandelier-1.jpg" alt="">
                            </div>
                            <div class="card-content-wrapper">
                               
                                <div class="card-content">
                                        <span class="card-title">Luna 8-Linear Chandelier</span>
                                        <div class="card-rating">
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span> 
                                        </div>
                                        <span class="card-price">R$ 13.999</span>
                                </div>

                                <div class="button-add">
                                        <button>Add +</button>
                                </div>
                            </div>
                        
                </div>
                <div class="card" (click)="goToProductPage()">
                        <div class="card-image">
                                <img src="../assets/lighting/chandelier-1.jpg" alt="">
                            </div>
                            <div class="card-content-wrapper">
                               
                                <div class="card-content">
                                        <span class="card-title">Luna 8-Linear Chandelier</span>
                                        <div class="card-rating">
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span> 
                                        </div>
                                        <span class="card-price">R$ 13.999</span>
                                </div>

                                <div class="button-add">
                                        <button>Add +</button>
                                </div>
                            </div>
                        
                </div>
        </div>
        <div class="row-1-card">
                <div class="card" (click)="goToProductPage()">
                        <div class="card-image">
                                <img src="../assets/lighting/chandelier-1.jpg" alt="">
                            </div>
                            <div class="card-content-wrapper">
                               
                                <div class="card-content">
                                        <span class="card-title">Luna 8-Linear Chandelier</span>
                                        <div class="card-rating">
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span>
                                        <span class="material-symbols-outlined">
                                                star
                                        </span> 
                                        </div>
                                        <span class="card-price">R$ 13.999</span>
                                </div>

                                <div class="button-add">
                                        <button>Add +</button>
                                </div>
                            </div>
                        
                </div>
        </div>
        
 </div>

</div>
