<div class="latest-collection-wrapper">
   <div class="wrapper-title">
     Latest Collection
   </div>
    <div class="collection-cards">

        <div class="card">
            <div class="card-image">
                <img src="../assets/collections/asura-chair-1.jpg" > 
            </div>
           
            <div class="card-content">
                <span class="card-title">Walsh bar & counter stool</span>
                <div class="card-rating">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span> 
                 
                </div>
                <span class="card-price">R$ 13.999</span>
            </div>

        </div>

        <div class="card-middle">
            
            <div class="see-collections">
                <a class="see-collections-span">see collections</a>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
                <div class="see-collections-circle"></div>
            </div>
            <div class="card-image">
                <img src="../assets/collections/asura-chair-1.jpg" > 
            </div>
           
            <div class="card-content">
                <span class="card-title">Walsh bar & counter stool</span>
                <div class="card-rating">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span> 
                 
                </div>
                <span class="card-price">R$ 13.999</span>
            </div>

        </div>

        <div class="card">
            <div class="card-image">
                <img src="../assets/collections/asura-chair-1.jpg" > 
            </div>
           
            <div class="card-content">
                <span class="card-title">Walsh bar & counter stool</span>
                <div class="card-rating">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span> 
                 
                </div>
                <span class="card-price">R$ 13.999</span>
            </div>

        </div>

    </div>
</div>