img {
    cursor: pointer;
}

a {
    text-decoration: none;
}




.home-wrapper {
    margin-bottom: 200px;
    user-select: none;
    position: relative;
    margin-top: 50px;
    height: 800px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    transition: 0.5s ease-in-out;

    .home-column-chair {
        position: relative;
        border-left: 2px solid;
        border-color: var(--home-border-image);
        grid-row: 1;
        grid-column: 2;


        img {

            position: absolute;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            box-sizing: border-box;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all 1s ease;

        }

        img:hover {
            transform: scale(1.1);
        }

    }

    .home-column-dining-sets {

        position: relative;
        border-top: 2px solid;
        border-color: var(--home-border-image);
        grid-row: 2;
        grid-column: 1;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 10px;
            box-sizing: border-box;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all 1s ease;

        }

        img:hover {
            transform: scale(1.1);
        }

    }

    .home-column-lighting-1 {
        position: relative;
        border-bottom: 2px solid;
        border-color: var(--home-border-image);
        grid-row: 2;
        grid-column: 4;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
            box-sizing: border-box;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all 1s ease;

        }

        img:hover {
            transform: scale(1.1);
        }

    }

    .home-column-lighting-2 {
        position: relative;
        border-top: 2px solid;
        border-left: 2px solid;
        border-color: var(--home-border-image);
        grid-row: 3;
        grid-column: 2;
        overflow: hidden;

        img {

            position: absolute;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            padding-top: 10px;
            box-sizing: border-box;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all 1s ease;

        }

        img:hover {

            transform: scale(1.1);
        }

    }

    .home-column-storage {

        position: relative;
        border-right: 2px solid;
        border-color: var(--home-border-image);
        grid-row: 3;
        grid-column: 3;
        overflow: hidden;

        img {

            position: absolute;
            width: 100%;
            height: 100%;
            padding-right: 10px;
            padding-top: 10px;
            box-sizing: border-box;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all 1s ease;

        }

        img:hover {

            transform: scale(1.1);
        }

    }

    .go-to-shop {

        font-size: 1.6rem;
        grid-row: 2;
        grid-column: 2;
        grid-column-end: 2 span;

        display: flex;
        justify-content: center;
        gap: 7px;
        align-items: center;
        cursor: pointer;
        color: var(--letter-color);
        overflow: visible;



        .go-to-shop-span {

            color: var(--letter-color);
            transition: color 0.3s;
            transition: 0.5s ease-in-out;

        }

        .material-symbols-outlined {

            transition: 0.5s ease-in-out;

        }


        .go-to-shop-circle {

            height: 50px;
            width: 50px;
            border: 2px solid;
            border-radius: 50%;
            transition: 0.5s ease-in-out;


        }

    }

    @keyframes slide-out-arrow {
        from {
            transform: translateX(45px);
        }

        to {
            transform: translateX(0px);

        }
    }

    @keyframes slide-in-arrow {
        from {
            transform: translateX(0px);
        }

        to {
            transform: translateX(45px);

        }
    }


    .go-to-shop:hover .material-symbols-outlined {

        animation: slide-in-arrow 0.3s ease-in-out forwards;

    }

    .go-to-shop:hover .go-to-shop-span {

        color: var(--home-border-image);

    }

    .go-to-shop:not(:hover) .material-symbols-outlined {

        animation: slide-out-arrow 0.3s ease-in-out forwards;

    }

}

.categories-wrapper {
    user-select: none;
    margin-bottom: 100px;
    min-height: 355px;
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;

    .categories-row {
        min-height: 50px;
        display: grid;
        align-items: flex-start;
        padding-top: 23px;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid;
        border-color: var(--home-border-image);
        animation: slide-out 0.6s ease-in-out;
        cursor: pointer;


    }

    .categories-row-expanded {

        grid-template-columns: repeat(3, 1fr);
        display: grid;
        padding-top: 23px;
        height: 270px;
        border-bottom: 1px solid;
        border-color: var(--home-border-image);
        gap: 20px;
        position: relative;
        animation: slide-in 0.3s ease-in-out;
        cursor: pointer;
        color: var(--letter-color);

        .sub-categories {
            color: var(--letter-color);
            position: absolute;
            top: 23%;
            left: 47.5%;
            width: 106px;
            opacity: 1;
            display: grid !important;
            animation: appear 0.6s ease-in-out;

            span {

                font-weight: 500;
                cursor: pointer;
            }

            span:hover {

                text-decoration: underline;
                text-decoration-color: var(--home-border-image);
                transition: 0.5 ease-in-out;
            }
        }

        @keyframes slide-in {
            from {
                height: 74px;
            }

            to {
                height: 270px;

            }
        }

        @keyframes slide-out {
            from {
                height: 270px;
            }

            to {
                height: 0px;

            }


        }

        @keyframes appear {

            from {

                opacity: 0;

            }

            to {

                opacity: 1;

            }
        }

    }




    .categories-view-all {

        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid;
        border-color: var(--home-border-image);
        padding-bottom: 35px;


        .categories {
            color: var(--letter-color);
            letter-spacing: 1px;
            font-size: 2.5rem;
            font-weight: 500;

        }

        .view-all {
            color: var(--letter-color);
            font-size: 1.3rem;
            display: flex;
            justify-content: flex-end;
            text-decoration: underline;


        }



    }

    .categorie-title {
        color: var(--letter-color);
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 500;

    }

    .material-symbols-outlined {

        color: var(--letter-color);
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;


    }

    .categorie-number {

        font-size: 1.7rem;
        font-weight: 500;
        color: var(--letter-color);
    }

}


@media (max-width: 1024px) {

    .home-wrapper {

        height: 600px;



        .go-to-shop {

            .go-to-shop-span {

                color: var(--letter-color);
                transition: 0.3s;
                font-size: 1.3rem;

            }

            .material-symbols-outlined {

                font-size: 1.3rem;

            }

            .go-to-shop-circle {

                height: 40px;
                width: 40px;
                border: 2px solid;
                border-radius: 50%;

            }

        }

        @keyframes slide-out-arrow-home {
            from {
                transform: translateX(40px);
            }

            to {
                transform: translateX(0px);

            }
        }

        @keyframes slide-in-arrow-home {
            from {
                transform: translateX(0px);
            }

            to {
                transform: translateX(40px);

            }
        }


        .go-to-shop:hover .material-symbols-outlined {

            animation: slide-in-arrow-home 0.3s ease-in-out forwards;

        }



        .go-to-shop:not(:hover) .material-symbols-outlined {

            animation: slide-out-arrow-home 0.3s ease-in-out forwards;

        }

    }

    .categories-wrapper {

        .categories-row-expanded {

            .sub-categories {
                left: 41.5%;
                transition: left 0.3s ease-in-out;

            }

        }

        .categories-view-all {

            .categories {

                font-size: 2rem;
                transition: font-size 0.5s ease-in-out;

            }

            .view-all {

                font-size: 1rem;
                transition: font-size 0.5s ease-in-out;

            }

        }

        .categorie-title {

            font-size: 1.4rem;
            transition: font-size 0.3s ease-in-out;


        }

        .material-symbols-outlined {

            font-size: 1.4rem;
            transition: font-size 0.3s ease-in-out;

        }

        .categorie-number {

            font-size: 1.4rem;
            transition: font-size 0.3s ease-in-out;

        }
    }



}

@media (max-width: 767px) {

    .home-wrapper {

        height: 400px;
        margin-bottom: 100px;



        .go-to-shop {

            .go-to-shop-span {

                color: var(--letter-color);
                transition: 0.3s;
                font-size: 1rem;

            }

            .material-symbols-outlined {

                font-size: 1rem;

            }

            .go-to-shop-circle {

                height: 30px;
                width: 30px;

            }

        }

        @keyframes slide-out-arrow-home-smartphone {
            from {
                transform: translateX(33px);
            }

            to {
                transform: translateX(0px);

            }
        }

        @keyframes slide-in-arrow-home-smartphone {
            from {
                transform: translateX(0px);
            }

            to {
                transform: translateX(33px);

            }
        }


        .go-to-shop:hover .material-symbols-outlined {

            animation: slide-in-arrow-home-smartphone 0.3s ease-in-out forwards;

        }



        .go-to-shop:not(:hover) .material-symbols-outlined {

            animation: slide-out-arrow-home-smartphone 0.3s ease-in-out forwards;

        }

    }

    .categories-wrapper {

        .categories-row-expanded {

            .sub-categories {
                left: 39.5%;
                transition: left 0.3s ease-in-out;

            }

        }

        .categories-view-all {

            .categories {

                font-size: 1.6rem;
                transition: font-size 0.5s ease-in-out;

            }

            .view-all {

                font-size: 1rem;
                transition: font-size 0.5s ease-in-out;

            }

        }

        .categorie-title {

            font-size: 1.1rem;
            transition: font-size 0.3s ease-in-out;


        }

        .material-symbols-outlined {

            font-size: 1.1rem;
            transition: font-size 0.3s ease-in-out;

        }

        .categorie-number {

            font-size: 1.1rem;
            transition: font-size 0.3s ease-in-out;

        }
    }


}