<div class="home-wrapper">
    
    <div class="home-column-chair">
        <img src="../assets/chairs/chair-2.jpg" >
    </div>

    <div class="home-column-dining-sets">
        <img src="../assets/dining-sets/dining-sets-1.jpg" >
    </div>

    <div class="home-column-lighting-1">
        <img src="../assets/lighting/lighting-2.jpg" >
    </div>

    <div class="home-column-lighting-2">
        <img src="../assets/lighting/lighting-3.jpg" >
    </div>

    <div class="home-column-storage">  
        <img src="../assets/storage/storage-3.jpg" >
    </div>
    
    <div class="go-to-shop">
        <span class="go-to-shop-span">start to shop</span>
        <span class="material-symbols-outlined">
            arrow_forward_ios
        </span>
        <div class="go-to-shop-circle"></div>
    </div>

</div>